[submodule "contrib/fmt"]
	path = contrib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "contrib/Vulkan-Hpp"]
	path = contrib/Vulkan-Hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp.git
[submodule "contrib/VulkanMemoryAllocator"]
	path = contrib/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
