[submodule "contrib/fmt"]
	path = contrib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "contrib/Vulkan-Hpp"]
	path = contrib/Vulkan-Hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp.git
[submodule "contrib/VulkanMemoryAllocator"]
	path = contrib/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "contrib/glm"]
	path = contrib/glm
	url = https://github.com/g-truc/glm.git
[submodule "contrib/googletest"]
	path = contrib/googletest
	url = https://github.com/google/googletest.git
[submodule "contrib/Vulkan-Headers"]
	path = contrib/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
